<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='icons/books.png') }}" type="image/icon type">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/welcome.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>La Biblioteca</title>
</head>
<body>
    <header id="header">La Biblioteca</header>
    <a href="{{ url_for('login') }}">Logout</a>
    <form method="post" action="{{ url_for('search_results') }}">
        <div class="form-group">
            <input type="search" placeholder="Search for books to read..." id="booksearch" name="booksearch">
        </div>
    </form>
</body>
</html>